@{
    ViewBag.Title = "Google Plus API";
} <div class="row">
    <h2> Google + Login / Sign in </h2> <br />
    <button class="btn btn-danger" id="googleplus">
        Google + API
    </button> <br />
</div>
@section Scripts {
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script>
    var googleUser = {};
    var startAppA = function() {
    gapi.load('auth2', function() {
    //Retrieve the singleton for the GoogleAuth library and set up the client.
    auth2 = gapi.auth2.init({
        client_id: '604426761950-4p91h2avv8q5aj72r0um6poiv4a29m14.apps.googleusercontent.com',
        secret_key: '8kiMkKbpq2-E1_oAdmc2e9Ek',
    cookiepolicy: 'single_host_origin',
    });
    attachSignin(document.getElementById('googleplus'));
    });
    };

    function attachSignin(element) {
    auth2.attachClickHandler(element, {}, function(googleUser) {
    debugger;
    $(".se-pre-con").show();
    console.log(googleUser);
    var profiles = googleUser.getBasicProfile();
        var ReturnUrl = 'http://localhost:58066/Home/GoogleLogin';
    //Crate A Bunch Of Object for Search
    var objData = {
    Email: profiles.getEmail(),
    LastName: profiles.getFamilyName(),
    FirstName: profiles.getGivenName(),
    GoogleID: profiles.getId(),
    ProfileURL: profiles.getName(),
    };
    $.ajax({
    type: "POST",
    url: '@Url.Action("GoogleLogin", "Home")',
    data: objData,
    datatype: "json",
    success: function(data) {
    alert("Successfully Done");
    }
    });
    $(".se-pre-con").hide();
    }, function(error) {
    alert(JSON.stringify(error, #ff0000, 2));
    });
        }
    </script>

    <script>startAppA();</script>
}  